@import "tailwindcss";

.container{
  @apply max-w-[1328px] mx-auto;
}
@theme {
  --font-syne: 'Syne', 'sans-serif';
  --font-Oswald: 'Oswald','sans-serif';
  --font-montserrat: 'Montserrat','sans-serif';
}

.custom-square{
  list-style-type: square;
}
html {
  scroll-behavior: smooth;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}